# Environment
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Django
staticfiles/
media/
*.log
db.sqlite3

# Test / Coverage
.coverage
htmlcov/
.pytest_cache/

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
